*{padding: 0;margin: 0}

/*产业资源分享的样式*/
body{background-color:#def0fe; }
/*头部的样式*/
.navbox{height: 64px;line-height: 64px;background-color: #2B405B;line-height: 64px;position: fixed;top:0;width: 100%;z-index: 20;}
.navlogo{width: 126px;height: 42px;background: url("../images/bgy.png")no-repeat;display: inline-block;margin-top: 11px;}
.navbox-left i{display: inline-block;height: 28px;width: 1px;background-color:#F5F5F5;float: left;margin-top: 20px;margin-left: 26px;}
.navbox-right i{display: inline-block;height: 28px;width: 1px;background-color: #F5F5F5;float: right;;margin:20px 12px;}
.navico{display: inline-block;width: 46px;height: 50px;background: url("../images/kjxz.png")no-repeat;margin-left: 23px;margin-top: 8px;}
.navtit{font-size:20px;color:#F5F5F5;display: inline-block; margin-left: 26px;}
.navbox-right a{display: inline-block;font-size:16px;color: #F5F5F5;cursor: pointer;height: 42px;line-height: 42px;margin-top: 11px;}
.navcle{width: 70px;text-align: right;background:url("../images/nav02.png")no-repeat 10px center; }
.navuser{margin-right: 12px;padding-left: 36px;background: url("../images/nav01.png")no-repeat 10px center;}
.navbox-right a:hover{color: #6A98E6}
/*脚部的样式*/
footer{height: 62px;width: 100%;background-color: #E0E0E0;text-align: center;line-height: 62px;font-size: 14px;color: #707175;}

/*项目管理页面样式*/
.cheader{height: 80px;line-height: 80px;background-color:#f5f5f5;margin-top: 64px;}
.toglis{background-color: #ffffff;height: 36px;line-height: 36px;width: 643px;border: 1px solid #E0E0E0;margin-top: 20px;}
.toglis a{display: inline-block;color: #707175;font-size: 16px;width: 160px;text-align: center;float: left;border-right: 1px solid #e0e0e0}
.toglis a:last-of-type{border-right: none}
.toglis a.selactive{background-color:#E6EBF1;color: #4D515C}
.cheader-tmie{font-size: 14px;color: #707175;}
.pcbox{background-color: #ffffff;border-radius: 6px;padding: 10px 0px}
.cnav{margin:0px 20px;}
.cnav-tit{margin: 0px 20px;height: 40px;line-height: 40px;display: block;color:#4D515C;font-size: 18px;}
.cnavbox .cnav-tit{height: 40px;line-height: 40px;display: block;color:#4D515C;font-size: 18px;margin: 0px;}
.cnav .cnav-li{height: 140px;width: 100%;border-bottom: 2px solid #DAE4E8;border-top: 2px solid #DAE4E8}
.cnav .cnav-li li{display: inline-block; width: 16%;position: relative;height: 140px;background: url("../images/next.png")no-repeat right center;}
.cnav .cnav-li .liformal{background: none;}
.cnav .cnav-li li a{display: inline-block;height: 100px;width: 100px;border-radius: 50%;border: 2px solid #DAE4E8;position: absolute;
    margin: auto;left: 0;right: 0;top:0;bottom:0;cursor: pointer;font-size: 14px;color: #707175;line-height: 132px;text-indent: 1em}
.cnav .cnav-li li a.sel{color: #6A98E6;border: 2px solid #6A98E6}
.cnav .cnav-li li a:hover{color: #8b9397;border:2px solid #8b9397;}
.cnav .cnav-li li a.sel:hover{color: #6A98E6;border: 2px solid #6A98E6}
.liearly a{background: url("../images/gt.png")no-repeat center 25px;}
.livisit a{background: url("../images/bf.png")no-repeat center 25px;}
.limou a{background: url("../images/qy.png")no-repeat center 25px;}
.lisite a{background: url("../images/xz.png")no-repeat center 25px;}
.licont a{background: url("../images/ht.png")no-repeat center 25px;}
.liformal a{background: url("../images/rz.png")no-repeat center 25px;}
.liearly a.sel{background: url("../images/gth.png")no-repeat center 25px;}
.livisit a.sel{background: url("../images/bfh.png")no-repeat center 25px;}
.limou a.sel{background: url("../images/qyh.png")no-repeat center 25px;}
.lisite a.sel{background: url("../images/xzh.png")no-repeat center 25px;}
.licont a.sel{background: url("../images/hth.png")no-repeat center 25px;}
.liformal a.sel{background: url("../images/rzh.png")no-repeat center 25px;}
.cnavbox{margin:20px;}
.boxli{display: none}
.boxli-inn{border: 1px solid #DBDBDB;width: 100%;height:auto;}
.boxli-inn-tit{height: 38px;line-height: 38px;background-color: #DBE4E9;display: block;color: #4D515C;font-size: 16px;padding-left: 30px;border-bottom: 1px solid #DBDBDB;}
.boxli-inn-tit span{display: inline-block;margin:0px 10px;font-size: 13px;height:26px;padding: 0px 20px;
    line-height: 26px;cursor: pointer;float: right;margin-top: 7px;background-color: #81ADF6;}
.boxli-inn-tit span:hover{color: #ffffff;background-color: #0065B8}
.boxli-innbottom{height: 70px;line-height: 70px;background-color: #DBE4E9;border-top: 1px solid #DBDBDB;}
.boxlibody{padding: 10px 20px;}
.boxlibody-tit{font-size: 15px;color: #4D515C;border-bottom: 1px solid #DAE4E8;height: 36px;line-height: 36px;}
.boxlibody-survey-box{padding: 10px 0px;font-size: 14px;color: #707175;width: 900px;}
.boxlibody-survey-box label{margin-right: 10px;}
.upload{height: 40px;line-height: 40px;width: 100%}
.upload .upbtn{display: inline-block;height: 35px;text-align: center;line-height: 35px;background-color:#81ADF6;border: 1px solid #0065B8;color: #ffffff;cursor: pointer; }
.uploadbox-li{height: 35px;line-height: 35px;width:100%;background-color: #F4F4F4;border: 1px solid #D9D9D9;margin-bottom: 10px;}
.upload label{display: inline-block;width:20%;float: left;margin-right:0px;}
.filebox{display: inline-block;position: relative;width: 90px;height: 34px;text-align: center;line-height: 34px;font-size: 18px;color: #ffffff;background-color:#81ADF6;cursor: pointer }
.upload input{width: 90px;height: 34px;opacity: 0;cursor: pointer;position: absolute;left: 0;cursor: pointer;display: inline-block}
.uploadbox-li{display: block}
.uploadbox-li a{float: right;display: inline-block;height: 15px;width: 15px;background-color: red;margin-top: 10px;margin-right: 20px;cursor: pointer}
.uploadbox-li .delet{background: url("../images/dele.png")no-repeat;}
.uploadbox-li .download{background: url("../images/zxlzan.png")no-repeat;background-size: 100% 100%}
.uploadbox-tit{height: auto;line-height: 40px;width: 20%;display: inline-block;float: left}
.uploadbox-box{width: 70%;display: inline-block}
.uploadbox{margin-top: 20px;}
.uploadbox-img{width: 140px;display: inline-block;margin-right: 10px;height: 194px;position: relative;margin-bottom: 20px}
.uploadbox-img .uploadbox-img-top{background-color: rgba(0,0,0,0.2);height: 30px;display: inline-block;width: 140px;}
.uploadbox-img img{height: 160px;width: 140px;}
.uploadbox-img .uploadbox-img-name{display:inline-block;height: 30px;width: 140px;margin-top: 3px;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;border: 1px solid #CCCCCC;line-height: 30px;text-indent: 0.2em}
.uploadbox-img-top a{display: inline-block;height:20px;width: 30px;cursor: pointer;float: right;margin-top: 5px;margin-right: 5px;}
.uploadbox-img-top .delet{background: url("../images/tc.png")no-repeat center center;}
.uploadbox-img-top .download{background: url("../images/tl.png")no-repeat center center;}
.uploadbox-img-top{position: absolute;top:0;}
.moubtn{height:36px;width: 120px;background-color: #81ADF6;display: block;font-size: 16px;color: #ffffff;line-height: 36px;text-align: center;margin-left: 20%;cursor: pointer; }


/*招商人员界面样式*/
.zsbox{height: 96px;}
.zsboxli{height: 68px;background-color: #ffffff;width: 66%;padding: 12px;}
.zsboxli-top{display: block;width: 100%;height: 42px;}
.zsboxli p{display: block;height: 18px;font-size:14px;color: #707175;line-height: 24px; }
.zsboxli .zsnav-tit{width: 78px;line-height: 40px;height: 40px;display: inline-block;border: 1px solid #D8DBE3;text-align: center;font-size: 14px;
color: #707175;}
.zsboxli input{height: 40px;width: 60%;border-top: 1px solid #D8DBE3;padding: 0px 5px;border-bottom: 1px solid #D8DBE3;}
.zsboxli .zsfind{height: 40px;line-height: 40px;width: 88px;text-align: center;font-size: 14px;color: #707175;display: inline-block;border: 1px solid #D8DBE3;cursor: pointer;background-color: #E4E4E4;}
.zsboxli .zsfind:hover{color: #ffffff;background-color: #81ADF6 ;border: 1px solid #0065B8;}
.zsboxli .zsles{display: inline-block;width: 120px;height: 40px;text-align: center; line-height: 40px;font-size: 16px;cursor: pointer;color: #707175;background-color: #E4E4E4;}
.zsboxli .zsles:hover{border: 1px solid #0065B8;background-color:#81ADF6;color: #ffffff;}
.zsboxright li{display: inline-block;width: 100px;height: 92px;background-color: #ffffff;margin-left: 20px;text-align: center;line-height: 150px;font-size: 16px;color: #4D515C;border-radius: 4px;position: relative;}
.zsboxright li a{display: inline-block;height: 50px;width: 50px;border-radius: 50%;background-color: #9DA5A9;position: absolute;left: 0;right: 0;margin: auto;top:8px;cursor: pointer;}
.zsboxright .todo a{background:#9DA5A9 url("../images/xmgl.png")no-repeat center center;}
.zsboxright .attent a{background:#9DA5A9 url("../images/wdgz.png")no-repeat center center;}
.zsboxright .dload a{background:#9DA5A9 url("../images/zlxz.png")no-repeat center center;}
.zsboxright li a:hover{background-color: #81ADF6;}
.zscontant{height: 400px;margin-top: 20px;margin-bottom: 40px;}
.zscontant .contant-pj{width: 47%;background-color: #ffffff;height: 400px;padding: 10px;border-radius: 6px}
.zscontant .contant-src{width: 47%;background-color: #ffffff;height: 400px;padding: 10px;border-radius: 6px}
.contant-tit{height: 50px;line-height: 40px;border-bottom: 1px solid #DAE4E8;font-size: 18px;color: #4D515C;}
.contant-tit .tit-more{display: inline-block;font-size: 14px;color: #707175;width: 75px;cursor: pointer;}
.zsinter{width: 46.7%;}
.zsinter .zsinter-tit{height: 30px;line-height: 30px;background-color: #F6F7FA;display: inline-block;width: 100%;margin-top: 10px;text-align: center;font-size:16px;color: #4D515C; }
.zsinter ul li{width: 100%;height: 35px;line-height: 35px;border-bottom: 1px solid #DAE4E8;font-size: 13px;color: #707175}
.zsinter-name{width: 60%;float: left;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.zsinter-style{width: 38%;float: right;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;}
.zsinter-line{width: 1.5px;height: 320px;background-color:#DAE4E8;margin: 30px 3%; }
.fladd{display: block;width: 120px;height: 40px;margin: 10px auto;
    line-height: 40px;text-indent: 3em;font-size: 16px;background: url("../images/qy1.png")no-repeat 10px center;
    color: #DAE4E8;cursor: pointer;}
.fradd{display:block;width: 80px;height: 120px;margin: 70px auto;
text-align: center;font-size: 18px;color: #DAE4E8;cursor: pointer;background: url("../images/qc1.png")no-repeat center 10px;
line-height: 210px;}



/*资料下载页面样式*/
.dloadbox{background-color: #ffffff;border-radius: 8px;height: auto;}
.dloadbox-nav{height: 50px;line-height: 40px;border-bottom: 1px solid #DAE4E8;margin: 0px 18px}
.dloadbox-nav ul li{display: inline-block;float: left}
.dloadbox-nav ul li a{display: inline-block;height: 40px;line-height: 40px;font-size: 17px;color: #4D515C;padding: 0px 2px;margin: 0px 20px;float: left}
.dloadbox-nav ul i{display: inline-block;height: 20px;width: 0.8px;background-color:#9EA0A1;float: right;margin-top: 12px;}
.dloadbox-nav ul li:first-of-type a{margin-left: 0px;}
.dloadbox-nav ul li a:hover{color: #96b5e9}
.dloadbox-nav ul li a.selload{color:#6F9CE7;background:url("../images/loadnav.png")no-repeat bottom center;}
.dloadbox-box{margin: 10px 18px}
.dloadbox-boxli{display: none;}
.dloadbox-boxli ul{margin-top: 10px;}
.dloadbox-boxli ul li{height:50px;margin-top: 10px;background-color:#F5F5F5;line-height: 50px;padding: 0px 20px 0px 10px ;font-size:14px;color: #707175;border-radius: 2px;cursor: pointer;}
.dloadbox-boxli ul li:hover{background-color: #E2EAF6;}
.dloadbox-boxli ul li m{margin-right: 15px;display: inline-block}
.dloadbox-boxli ul li span{float: right;display: inline-block;height: 30px;width: 50px;background: url("../images/load.png")no-repeat center center;margin-top: 10px;cursor: pointer}
.dloadbox-boxli ul li span:hover{background: url("../images/zlxzanl.png")no-repeat center center;}

/*高级查询列表样式*/
.cxbox{height: auto;background-color: #fff;margin-bottom: 30px;}
.cxbox .zsboxli{display: block;height: 50px}
.cxbox .zsboxli .zsnav-tit{width: 50px;background: url("../images/finds.png")no-repeat center center;display: inline-block;cursor: pointer;}
.cxfinds{display: block;padding:0px 12px 12px 12px;}
.cxfinds-tit{height: 40px;line-height: 40px;border-bottom: 1px solid #DAE4E8;color: #4D515C;font-size: 16px;}
.cxfinds-li{height: 110px;background-color:#F5F5F5;margin-top: 14px;padding: 10px;border-radius: 4px;cursor: pointer;}
.cxfinds-li .cxfinds-li-tit{display: block;color: #4D4E52;font-size: 16px;height: 30px;line-height: 30px;}
.cxfinds-li ul li{font-size: 14px;color: #706F74;display: inline-block;width: 35%;height: 24px;line-height: 24px;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.cxfinds-li ul li:first-of-type{width: 18%;}
.cxfinds-li ul li span{display: inline-block;margin-left: 8px;}
.cxfinds-li:hover{background-color: #E2EAF6;}
.selbox .textbox{-webkit-border-radius: 0px;border:1px solid #DAE4E8;}
.panel-body-noheader{height: auto !important;}

/*高管桌面样式*/
.ggbox{}
.ggbox .zsnav-tit{width: 50px;background: url("../images/finds.png")no-repeat center center;display: inline-block;cursor: pointer;}
.ggbox .zsboxli{width: 76%}
.ggbox .zsboxli input{width: 65%}
.ggbox-right{width: 220px;height: 68px;background-color: #ffffff;padding: 12px;}
.ggbox-right-ico{display: inline-block;height: 64px;width: 64px;background:#ECEDED url("../images/gg01.png")no-repeat center center;border: 1px solid #D5E0E4;}
.ggchart-lis{width: 47%}
.ggchart-lis .ggchart-tit{height: 30px;line-height: 30px;background-color: #F6F7FA;display: inline-block;width: 100%;margin-top:8px;font-size: 14px;color: #707175;text-indent: 3em;}
.ggchart-lis .ggchart-tit m{display: inline-block;float: right;margin-right: 2em;}
.ggchart-line{width: 1.3px;height: 390px;margin:0px 2.7%;background-color: #DAE4E8}
.ggchart-lis ul{border: 1px solid #F6F7FA;margin-top: 8px;}
.ggchart-lis ul li{height: 28px;line-height: 28px;border-bottom: 1px dashed #F6F7FA;margin: 0px 5px;font-size: 14px;color: #707175}
.ggchart-lis ul li m{display: inline-block;margin: 0px 4px}
.ggchart-lis .gg-fl{float: left;width: 75%;text-overflow:ellipsis;white-space:nowrap; overflow:hidden;}
.ggchart-lis .gg-fr{float: right;width: 23%;}
.entirbox-left{float: left;position: relative;z-index: 3;}
.entirbox-left .line-left{width: 1px;height: 260px;background-color: #E0E0E0;margin: 40px 16px;float: left;}
.entirbox-left .line-num{display: inline-block;position: absolute;left: 6px;top:40px;margin: auto;}
.entirbox-left .line-num li{display: block;width: 20px;height: 20px;border-radius: 50%;background-color:#81ADF6;color: #FFFFFF;text-align: center;
    line-height: 20px;margin-bottom: 30px;font-size: 14px;}
.entirbox-left .line-text{width: 150px;margin-top: 42px;}
.entirbox-left .line-text li{width: 150px;font-size: 14px;color: #707175;margin-bottom: 30px}

/*高级搜索样式*/
.finds{}
.finds .dloadbox-boxli .panel{margin: 20px auto;border:none;}
.dloadbox-boxli .panel-body{border: none !important;}
.finds .textbox-label{font-size: 14px;text-align: right !important;color:#707175;padding: 0px 5px;width: 120px;}
.finds .textbox{height: 32px;line-height: 32px;-webkit-border-radius:0px;border:1px solid #DAE4E8;width: 468px}
.finds .textbox-icon{width: 26px;height: 32px;}
.finds .combo-arrow{width: 26px !important;height: 32px !important;}
.textbox-text{height: 24px;line-height: 24px;}
.finds-btn{display: inline-block;height: 38px;line-height: 38px;width: 130px;text-align: center;background-color: #659EFD;
font-size: 16px;color: #ffffff;cursor: pointer;border-radius: 18px;margin: 0px 20px;}
.finds-btn:hover{background-color:#4a81dd;}

/*入口界面样式*/
#entryPage { min-height: 650px; padding-top: 80px; overflow: hidden; zoom: 1; background: #def0fe url("../images/bg-entry.jpg") center bottom no-repeat; }
.bmbtn { width: 1200px; margin: auto; padding-top: 50px; }
.bmbtn li { position: relative; float: left; overflow: hidden; width: 358px; height: 458px; margin: 0 120px; text-align: center; border: 1px solid #fff;
	color: #fff; box-shadow: 0px 6px 12px 0px rgba(7, 17, 27, 0.5); transition: .3s all linear; }
.bmbtn li:hover { box-shadow: 0px 8px 16px 0px rgba(7, 17, 27, 0.5); }
.bmbtn li a { display: block; position: absolute; top: 380px; left: 90px; width: 180px; height: 45px; line-height: 42px; background-color: #fff; text-align: center; font-size: 26px;
	color: #2b405b; border-radius: 4px; box-shadow: 0px 4px 8px 0px rgba(7, 17, 27, 0.3); transition: .3s all linear; }
.bmbtn li a:hover { top: 377px; box-shadow: 0px 8px 16px 0px rgba(7, 17, 27, 0.5); }
.bmbtn li i { z-index: -2; display: block; width: 430px; height: 480px; margin-left: -30px; margin-top: -10px; background: #000 url("../images/btn-1.jpg") center no-repeat;  }
.bmbtn li#branchRes i { background-image: url("../images/btn-2.jpg"); }
