@font-face
  font-family "iconfont"
  src url('//at.alicdn.com/t/font_1026058_34ua0l8v51n.eot')
  src url('//at.alicdn.com/t/font_1026058_34ua0l8v51n.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1026058_34ua0l8v51n.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1026058_34ua0l8v51n.woff') format('woff'),
  url('//at.alicdn.com/t/font_1026058_34ua0l8v51n.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1026058_34ua0l8v51n.svg#iconfont') format('svg')
  
.goTopBtn.active
  position fixed
  bottom 20px
  right 10px
  width 40px
  height 40px
  background $accentColor - rgba(0, 0, 0, .3)
  border-radius 6px
  cursor pointer
  z-index 100
  &:after
    display block
    line-height 40px
    text-align center
    content 'TOP'
    color #fff
    font-size .8rem
  &:hover
    background $accentColor - rgba(0, 0, 0, .2)

.content
  code
    padding .1rem .3rem
  img
    display block
  .text-align-center
    text-align center
  figure
    display inline-block
    text-align center
    margin 0 0 1rem
    figcaption
      background-color #f7f7f7
      color $accentColor
      font-size .8rem
      padding .4rem

.iconfont
.search-box
  &:before
    font-family iconfont
    font-size 1rem
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    content "\e604"
    margin-right -1.8rem
  &:hover
    font-weight bolder
  input
    background none

.essay-page
  .content
    p
      text-indent 2rem
      white-space pre-wrap
    blockquote
    .tip
      p
        text-indent 0
#gitalk-container
  padding 0 2.5rem
  a
    color $accentColor
  .gt-btn
    border-color $accentColor
    background-color $accentColor
    color #fff

.theme-container
  .badge
    font-size 12px!important

.indexPage
  .home
    .hero
      .description
        margin-bottom 0
        font-size 1rem
        color #bbb
      h1
        margin-top 0
        margin-bottom 3rem
        line-height 1
        font-weight normal
        font-size 2rem
        em
          font-style normal
          color $accentColor
  .site-name
    display none
  .navbar
    border-bottom 0
  .search-box
    input
      width 0
      border-color transparent
      padding-right 0
      cursor pointer
      &:focus
        width 10rem
        border-color #3eaf7c
        cursor text
  .content
    ol
      padding-left 0
      li
        list-style none
        color #aaa
        padding 0 .3rem .3rem .4rem
        cursor pointer
        &:hover
          background-color #f7f7f7
        sup
          color #ccc
        .dir
        .tit
          color $accentColor
        .date
          font-size .8rem
          line-height 1.4
          vertical-align text-top
        .intro
          font-size .8rem
          h1
            display none
          p
            margin-top 0
            margin-bottom 0
          blockquote
            border 0
            margin 0
            padding 0
          strong
            font-weight normal