.no-sidebar
  .site-name
    display none
  .navbar
    border-bottom 0
  .search-box
    input
      width 0
      border-color transparent
      padding-right 0
      cursor pointer
      &:focus
        width 10rem