:root {
  --vp-c-brand: #00a0e8;
  --vp-c-brand-dark: #00a0e8;
}

.no-sidebar {
  .VPNavBarTitle {
    display: none;
  }
}

.VPNavBarTitle {
  .title {
    align-items: flex-end;
    filter: hue-rotate(0deg);
    transition: filter 1.5s;

    &:hover {
      filter: hue-rotate(270deg);
    }
  }
}

.VPSidebarGroup {
  h2.title-text {
    font-weight: bolder;
    font-size: 16px;
  }
}

.is-home {
  .VPHome {
    padding-bottom: 50px;
  }
}
