.list-wrapper {
  max-width: 640px;
  margin: 0 auto;
  z-index: 100;

  header {
    text-align: center;
    margin-bottom: 50px;

    img {
      display: block;
      margin: 0 auto;
    }

    p {
      color: var(--vp-c-gray);
      font-size: 12px;
      line-height: 32px;
    }

    h1 {
      color: var(--vp-c-brand);
      font-size: 24px;
    }
  }

  ol {
    padding-left: 0;

    li {
      list-style: none;
      color: var(--vp-c-text-1);
      line-height: 1.7;

      .tag {
        font-size: 11px;
        line-height: 15px;
        padding: 0 2px;
        vertical-align: text-top;
        color: var(--vp-c-text-inverse-1);
        background-color: var(--vp-c-gutter);
        display: inline-block;
        border-radius: 4px;
        margin-left: 5px;
        font-style: normal;
      }

      @media screen and (max-width: 400px) {
        .tags-wrapper {
          display: block;
          padding-left: 75px;
        }
      }

      .date {
        display: inline-block;
        width: 72px;
        font-size: 11px;
        color: var(--vp-c-text-2);
        font-family: var(--vp-font-family-base);
        vertical-align: text-bottom;
      }

      &:first-child, &:nth-child(2), &:nth-child(3) {
        color: var(--vp-c-sponsor);

        .date {
          color: var(--vp-c-sponsor);
        }
      }

      a.tit:hover, a.dir:hover {
        color: var(--vp-c-brand);
      }

      a.tag:hover {
        background-color: var(--vp-c-brand);
      }
    }
  }
}