@charset "utf-8";
/**
 * BGY-UI 0.9.6
 * 表单等难以自适应的部件，基于1366*768尺寸的屏幕
 */

/* 公共样式 */
body { font-size: 14px; font-family: "Microsoft YaHei"; }
a,
a:hover,
a:visited,
a:active,
a:focus { text-decoration: none; outline: none; }

/* 占位符 */
::-webkit-input-placeholder { color: #A7A7A8; } /* WebKit browsers */
:-moz-placeholder { color: #A7A7A8; }/* Mozilla Firefox 4 to 18 */
::-moz-placeholder { color: #A7A7A8; } /* Mozilla Firefox 19+ */
:-ms-input-placeholder { color: #A7A7A8; }/* Internet Explorer 10+ */

/* 线框、投影 */
hr { margin: 20px 0; border: 0; background: #dbdbdb; height: 1px; }
hr.vr { width: 1px; }
.shadow { }
.border { border: 1px solid #DAE1E8; }

/* 状态图标 */
.state-going,
.state-publish,
.state-feedback,
.state-nofeedback { color: #4C5E70; font-size: 12px; }
.state-going:before,
.state-publish:before,
.state-feedback:before,
.state-nofeedback:before { display: inline-block; vertical-align: middle; margin: 0 6px; border-radius: 50%; background-color: #2DC0E8; width: 15px; height: 15px; line-height: 15px; content: ''; }
.state-publish:before { background-color: #7B8DA0; }
.state-feedback:before { background-color: #029602; }
.state-nofeedback:before { background-color: #FF0000; }

/* 滚动条 */


/* 字体图标绑定 */
@font-face { font-family: 'ico-bgy'; src: url('../fonts/ico-bgy.eot?5s12nb'); src: url('../fonts/ico-bgy.eot?5s12nb#iefix') format('embedded-opentype'), url('../fonts/ico-bgy.ttf?5s12nb') format('truetype'), url('../fonts/ico-bgy.woff?5s12nb') format('woff'), url('../fonts/ico-bgy.svg?5s12nb#ico-bgy') format('svg'); font-weight: normal; font-style: normal; }
[class*="icon"],
.bgy-path,
.bgy-select,
.bgy-tree,
.bgy-form,
.panel-tool { font-family: 'ico-bgy' !important; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* 面包屑 */
.bgy-path { color: #4C5E70; font-size: 14px; line-height: 22px; padding: 0; list-style: none; }
.bgy-path li { display: inline-block; }
.bgy-path li a { color: #1A9CC4; }
.bgy-path li a:hover { color: #1686A7; }
.bgy-path li+li:before { color: #9C9C9C; padding: 0 8px; content: "\e909"; font-size: 12px; }

/* 选项卡 */
.easyui-tabs.bgy-tabs { width: 600px; }
.easyui-tabs.bgy-tabs .tabs-header { border: 0; }
.easyui-tabs.bgy-tabs .tabs { padding-left: 0px; height: 35px !important; }
.easyui-tabs.bgy-tabs .tabs li { margin: 0px; }
.easyui-tabs.bgy-tabs .tabs-inner { width: 200px !important; height: 35px !important; line-height: 35px !important; color: #4C5E70; background-color: #F1F1F1; font-weight: normal; }
.easyui-tabs.bgy-tabs .tabs-inner { border-right-width: 0; }
.easyui-tabs.bgy-tabs .tabs-inner:hover { background-color: #1A9CC4; }
.easyui-tabs.bgy-tabs .tabs-inner:active { background-color: #1686A7; }

.easyui-tabs.bgy-tabs .tabs-selected .tabs-inner { color: #1A9CC4;  border-color: #DAE1E8; background-color: #fff; font-weight: normal; }
.easyui-tabs.bgy-tabs .tabs-last .tabs-inner { border-right-width: 1px; }
.easyui-tabs.bgy-tabs .tabs-title { font-size: 14px; }

/* 树形控件 */
.bgy-tree .tree-node { height: auto; padding: 4px 0; }
.bgy-tree .tree-node-hover,
.bgy-tree .tree-node-selected { background-color: transparent; }
.bgy-tree .tree-expanded,
.bgy-tree .tree-collapsed,
.bgy-tree .tree-checkbox0,
.bgy-tree .tree-checkbox1,
.bgy-tree .tree-checkbox2 { background: none; width: 24px; height: 20px; text-align: center; }
.bgy-tree .tree-icon { display: none; }
.bgy-tree .tree-title { color: #4C5E70; }
.bgy-tree .tree-expanded:before { content: '\e907'; color: #7B8DA0; font-size: 13px; line-height: 18px; }
.bgy-tree .tree-collapsed:before { content: '\e911'; color: #7B8DA0; font-size: 14px; line-height: 18px; }
.bgy-tree .tree-checkbox:before { text-align: center; display: inline-block; content: ''; border-radius: 4px; border: 1px solid #DBDBDB; width: 18px; height: 18px; }
.bgy-tree .tree-checkbox1:before { content: '\e90b'; color: #797979; line-height: 18px; }
.bgy-tree .tree-checkbox2:before { content: '\e90b'; color: #7B8DA0; font-size: 13px; line-height: 20px; background-color: #f4f4f4; }
.bgy-tree .tree-file { /*display: inline-block;*/  }
.bgy-tree .tree-indent { width: 24px; }

/* 分页 */
.l-btn-plain { width: 36px; height: 30px; border: 0px solid #FFFFFF; margin: 0 2px; padding: 0; text-align: center; vertical-align: middle; }
.pagination-links .l-btn-plain { width: 34px; height: 28px; border: 1px solid #dbdbdb; }
.l-btn-left { width: 36px; height: 30px; }
.l-btn-disabled .pagination-prev,
.l-btn-disabled .pagination-next { width: 34px; height: 28px; border: 1px solid #1a9cc4; background-color: #1a9cc4; }
.l-btn-disabled .pagination-first,
.l-btn-disabled .pagination-last { width: 34px; height: 28px; border: 1px solid #1a9cc4; background-color: #1a9cc4; }
.l-btn-disabled .pagination-prev:before,
.l-btn-disabled .pagination-next:before { color: #FFFFFF; }
.l-btn-disabled .pagination-first:before,
.l-btn-disabled .pagination-last:before { color: #FFFFFF; }
.l-btn-icon-left .l-btn-icon { left: 0; }
.pagination-next,
.pagination-prev { background: none; width: 32px; left: 0px; height: 28px; background-color: #FFFFFF; color: #1a9cc4; top: 8px; border: 2px solid #1a9cc4; }
.pagination-first,
.pagination-last { background: none; width: 34px; left: 0px; background-color: #FFFFFF; height: 28px; top: 8px; border: 1px solid #dbdbdb; color: #4C5E70; }
.pagination-first:before { width: 34px; line-height: 28px; text-align: center; display: block; content: '首页'; }
.pagination-prev:after,
.pagination-next:after { background-color: #1a9cc4; color: #FFFFFF; }
.pagination-last:before { width: 34px; line-height: 28px; text-align: center; display: block; content: '末页'; }
.pagination-next:before { width: 34px; content: '\e909'; color: #1a9cc4; line-height: 24px; margin: auto; margin-left: 6px; font-weight: bold; }
.pagination-prev:before { content: '\e908'; color: #1a9cc4; line-height: 24px; margin: auto; margin-left: 6px; font-weight: bold; }
.l-btn-left .l-btn-empty { display: none; width: 0; }
.l-btn-plain-selected:link,
.l-btn-plain-selected:hover { background: #1a9cc4; color: #FFFFFF; border: 1px solid #1a9cc4; }
.pagination-links .l-btn-left { width: 34px; height: 28px; }
.pagination-links .l-btn-text { width: 34px; line-height: 28px; }
.l-btn:hover { border: 0 solid; }
.pagination-links .l-btn:hover { border: 1px solid #dbdbdb; }
.l-btn-disabled .l-btn-plain-disabled { background: #1a9cc4; color: #FFFFFF; }
.pagination-prev:hover,
.pagination-next:hover,
.pagination-first:hover,
.pagination-last:hover { background-color: #1a9cc4; }
.pagination-prev:hover:before,
.pagination-next:hover:before { background-color: #1a9cc4; color: #FFFFFF; }
.pagination-first:hover:before,
.pagination-last:hover:before { background-color: #1a9cc4; color: #FFFFFF; }

/* 图标 */
.bgy-icon-check:before { content: "\e900"; }
.bgy-icon-edit:before { content: "\e901"; }
.bgy-icon-reload:before { content: "\e902"; }
.bgy-icon-delete:before { content: "\e903"; }
.bgy-icon-close:before { content: "\e904"; }
.bgy-icon-authorize:before { content: "\e905"; }

.bgy-icon-arrowR:before { content: "\e909"; color: #9C9C9C; font-size: 12px; }

[class^="bgy-icon-"] { color: #778a9b }
[class^="bgy-icon-"]:before { margin-right: 6px; }

[class^="bgy-icon-"]:hover { color: #1a9cc4 }
.bgy-icon-reload:hover { color: #029602; }
.bgy-icon-close:hover { color: #fe0000; }

[class^="bgy-icon-"]:active { color: #04789c; }
.bgy-icon-reload:active { color: #026402; }
.bgy-icon-close:active { color: #bc0404; }

/* 按钮 */
.bgy-btn { display: inline-block; font-size: 14px; text-align: center; border: 1px solid #1A9CC4; border-radius: 3px; height: 26px; line-height: 26px; color: #1A9CC4; text-decoration: none; padding: 0 17px; min-width: 100px; white-space: nowrap; cursor: pointer; margin: 0 10px; }
.bgy-btn:hover { background-color: #1A9CC4; color: #fff; }
.bgy-btn:active { background-color: #1686A7; color: #fff; }
.bgy-btn.btn-n2 { letter-spacing: 10px; padding: 0 10px 0 20px; width: 80px; min-width: 80px; }
.bgy-btn.btn-n3 { letter-spacing: 5px; padding: 0 10px 0 15px; }

/* 文字规范及输入框 */
.bgy-tit,
.bgy-tit .panel-title { font-size: 18px; font-weight: normal; line-height: 150%; color: #4C5E70; }
.bgy-txt { font-size: 12px; line-height: 150%; color: #4C5E70; }
.bgy-txt-inverse { background: #1A9CC4; color: #fff; }
.bgy-txt-gray { background: #ededed; color: #333; }
.bgy-info { font-size: 12px; line-height: 150%; color: #7B8DA0; }

/* 表单 */
.bgy-form { padding: 20px; width: 1000px; }
.bgy-form select,
.bgy-form input[type="radio"],
.bgy-form input[type="checkbox"] {/*清除默认的select样式*/
  appearance: none; -moz-appearance: none; -webkit-appearance: none; outline: none;
}
.bgy-form select::-ms-expand { display: none; }

.bgy-form ul { margin: 0 -5px 0 -55px; overflow: hidden; zoom: 1; padding: 0; }
.bgy-form li { float: left; width: 490px; margin-left: 20px; list-style: none; padding: 0 0 20px 0; line-height: 30px; }
.bgy-form label { text-overflow: ellipsis; overflow: hidden; white-space:nowrap; text-align: right; display: inline-block; font-size: 12px; margin: 0 20px 0 0; height: 30px; line-height: 30px; color: #4C5E70; font-weight: normal; vertical-align: middle; width: 120px; }
.bgy-form input[type='text'],
.bgy-form input[type='password'] { display: inline-block; height: 30px; width: 340px; line-height: 30px; padding: 0 5px; font-size: 12px; color: #a7a7a8; border: 1px solid #DAE1E8; vertical-align: middle; }
.bgy-form input[type='text'][disabled='disabled'],
.bgy-form input[type='password'][disabled='disabled'] { background-color: #f4f4f4; }
.bgy-form input[type='radio'] ~ label,
.bgy-form input[type='checkbox'] ~ label { width: auto; }
.bgy-form textarea ~label,
.bgy-form select ~label { vertical-align: top; }
.bgy-form textarea { vertical-align: top; width: 600px; min-height: 6em; line-height: 22px; padding: 0 4px; font-size: 12px; color: #a7a7a8; border: 1px solid #DAE1E8; }
.bgy-form select { padding: 0 14px 0 5px; width: 340px; height: 30px; line-height: 30px; vertical-align: top; border: 1px solid #DAE1E8; color: #a7a7a8; font-size: 12px;
   background: url('../images/icon-arrowD.png') no-repeat right center;
}

.bgy-form .btns { text-align: center; }
.bgy-form .info { margin-left: 10px; vertical-align: middle; }
.bgy-form input.prompt { content: "dd"; background: url('../images/icon-prompt.png') no-repeat right center; cursor: pointer; }
.required label:after { position: absolute; content: "*"; color: #f00; font-size: 14px; }
.error input { background-color: #FEE; }
.error .info { color: #f00; }

/* combobox */
.bgy-combo {  }
.bgy-combo ~ .textbox { min-width: 120px; }
.bgy-combo ~ .textbox .textbox-text { padding-left: 10px; color: #4C5E70; height: 30px; }
.textbox-addon-right { right: 5px !important; }
.textbox-addon-right a:hover { background-color: #fff; color: #6db9c4; }
.panel-body-noheader { border-top-width: 0px; border-bottom-width: 0px; height: auto !important; }
.combobox-item { border-bottom: 1px solid #dbdbdb; height: 29px; line-height: 29px; font-size: 12px; padding: 0 0 0 10px; cursor: pointer; }
.combobox-item-hover { background-color: #f4f4f4; color: #68bbd5; }
.combobox-item-selected { background-color: #f4f4f4; color: #68bbd5; }
#_easyui_combobox_i1_0 { color: #FFFFFF; background: #FFFFFF; height: 0; border-width: 0; }

/* 单选框、复选框 */
.bgy-form input[type="radio"]:before { display: inline-block; content: "\e90c"; vertical-align: middle; color: #fff; border: 1px solid #cacaca; border-radius: 50%; font-size: 14px; background-color: #fff; width: 16px; height: 16px; }
.bgy-form input[type="radio"]:checked:before { color: #1a9cc4; border-color: #1a9cc4; }
.bgy-form input[type="radio"][disabled='disabled']:before { color:#f4f4f4; border-color: #d5d5d5; background-color: #f4f4f4; }

.bgy-form input[type="checkbox"]:before { display: inline-block; content: '\e90b'; vertical-align: middle; font-size: 14px; background-color: #fff; color: #fff; width: 20px; height: 20px; line-height: 18px; text-align: center; border: 1px solid #dddddd; border-radius: 4px; }
.bgy-form input[type="checkbox"]:checked:before { content: "\e90b"; color: #adafb3; }
.bgy-form input[type="checkbox"][disabled='disabled']:before { color:#f4f4f4; background-color: #f4f4f4; }

/* 弹窗 */
.bgy-window {}
.bgy-window .panel-header { background-color: #F0F5F5; }
.bgy-window .panel-title { height: 40px; line-height: 40px; padding-left: 15px; }
.bgy-window .panel-body { padding: 20px; }
.bgy-window .btns { padding-bottom: 20px; }
.bgy-window .bd { border: 1px solid #DAE1E8; width: auto; overflow: hidden; }
.bgy-window .bgy-form ul { margin: 0 0 0 -20px; }
.bgy-window .bgy-form li { width: 405px; }
.bgy-window .bgy-form input[type='text'],
.bgy-window .bgy-form input[type='password'] { width: 285px; }
.bgy-window .bgy-form label { width: 80px; }
.bgy-window .bgy-form textarea { width: 710px; }
.bgy-window .bgy-btn {  margin: 0 20px 0 0; }
.bgy-window h5 { font-size: 16px; color: #1A9CC4; }

.bgy-win-small {}
.bgy-win-small .panel-header { background-color: #F0F5F5; }
.bgy-win-small .panel-title { height: 40px; line-height: 40px; padding-left: 15px; }
.bgy-win-small .btns { text-align: center; }
.bgy-win-small .bd { width: auto; overflow: hidden; }
.bgy-win-small .bgy-form { padding-bottom: 0; }
.bgy-win-small .bgy-form ul { margin: 0; }
.bgy-win-small .bgy-form li { float: none; width: auto; }
.bgy-win-small .bgy-form input[type='text'],
.bgy-win-small .bgy-form input[type='password'],
.bgy-win-small .bgy-form textarea { width: 340px; }
.bgy-win-small .bgy-form label { width: 150px; }

.bgy-alert {}
.bgy-alert .panel-header { background-color: #F0F5F5; }
.bgy-alert .panel-title { height: 40px; line-height: 40px; padding-left: 15px; }
.bgy-alert .btns { text-align: center; }
.bgy-alert .bd { width: auto; overflow: hidden; }
.bgy-alert p { padding: 30px 0 20px; text-align: center; }

.window-shadow { box-shadow: 0 0 8px rgba(0,0,0,.7); }

.window-thinborder .window-header .panel-tool { margin: 0; top: 18px; right: 17px; height: 18px; }
.panel-tool a.panel-tool-close { background: none; color: #778a9b; width: 18px; height: 18px; margin: 0; opacity: 1; }
.panel-tool a.panel-tool-close:before { content: '\e904'; }
.panel-tool a.panel-tool-close:hover { color: #fe0000; }
.panel-tool a.panel-tool-close:active { color: #bc0404; }

/* 提示 */
.bgy-tips { display: none; position: absolute; background-color: #fff; padding: 30px 50px; }
.bgy-tips p { margin: 0; }

/* 滚动条 */
/* 滚动条整体部分 */
.bgy-scroll::-webkit-scrollbar { width: 20px; height: 20px; }
/* 滚动条两端的按钮 */
.bgy-scroll::-webkit-scrollbar-button { height: 20px; width: 20px; }
/* 滚动条上下左右顶端的按钮 */
.bgy-scroll::-webkit-scrollbar-button:horizontal:start { background-image: url('../images/scroll_btn_left.png'); border: 1px solid #dbdbdb; }
.bgy-scroll::-webkit-scrollbar-button:horizontal:end { background-image: url('../images/scroll_btn_right.png'); border: 1px solid #dbdbdb; }
.bgy-scroll::-webkit-scrollbar-button:vertical:start { background-image: url('../images/scroll_btn_top.png');  border: 1px solid #dbdbdb; }
.bgy-scroll::-webkit-scrollbar-button:vertical:end { background-image: url('../images/scroll_btn_bottom.png'); border: 1px solid #dbdbdb; }
/* 外层轨道 */
.bgy-scroll::-webkit-scrollbar-track { background-color: #f5f5f5; }
/* 内层轨道，滚动条中间部分（除去） */
.bgy-scroll::-webkit-scrollbar-track-piece { background-color: #f5f5f5; border-style: solid; border-width: 1px 0 1px 0; border-color: #dbdbdb; }
/* 滚动条里面可以拖动的滑块 */
.bgy-scroll::-webkit-scrollbar-thumb { background-color: #d8d8d8; border: 1px solid #dbdbdb; }
/* 边角\右下角拖动块的样式 */
.bgy-scroll::-webkit-scrollbar-corner,
.bgy-scroll::-webkit-scrollbar-resizer { display: none; }

/* 表格样式 */
.bgy-table .datagrid-header-row { background-color: #f0f5f5; height: 35px; }
.bgy-table .datagrid-header-row span { font-size: 14px !important; font-weight: 400; color: #4C5E70; }
.bgy-table .panel-body { border-width: 1px 0 0 1px; }
.bgy-table .datagrid-row-over { background-color: #CFEDED !important; }
.bgy-table .datagrid-cell { color: #7B8DA0; }
.bgy-table .datagrid-row { height: 30px; }
.bgy-table .datagrid-header td,
.bgy-table .datagrid-body td,
.bgy-table .datagrid-footer td { border-style: solid; }
.bgy-table [class*="datagrid-cell-c2"] { padding: 0 12px; }

/* 图片上传 */
.bgy-upload { padding: 0 0 10px 10px; }
.bgy-upload input { visibility: hidden; }
.bgy-upload .z_file { position: relative; padding: 0; border: 1px solid #d7d7d7; }
.bgy-upload .z_file .imgFile { width: 100%; height: 100%; opacity: 0; position: absolute; top: 0px; left: 0px; z-index: 100; }
.bgy-upload .up-section { position: relative; margin: 0 10px 20px; width: 96px; height: 96px; overflow: visible; }
.bgy-upload .up-section img { display: block; width: 100%; height: 100%; }
.bgy-upload .bgy-icon-close { position: absolute; z-index: 10; top: -.5rem; right: -.5rem; color: #fff; font-size: 1rem; border-radius: 50%; background-color: #81838E; width: 2rem; height: 2rem; line-height: 2rem; text-align: center; cursor: pointer; }
.bgy-upload .bgy-icon-close:before { margin-right: 0; }
.bgy-upload .z_file { width: 96px; height: 96px; margin-top: 10px; }
.up-opcity { opacity: 0; }
.img-name-p { display: none; }
.z_file .add-img { display: block; height: 96px; color: #d7d7d7; text-align: center; }
.z_file .add-img:before { display: block; font-size: 40px; line-height: 60px; }
.loading .bgy-icon-close { display: none; }
.loading { background-color: #279fcf; border-radius: 100%; margin: 0; -webkit-animation-fill-mode: both; animation-fill-mode: both; border: 2px solid #279fcf; border-bottom-color: transparent; height: 15px; width: 15px; background: transparent !important; display: inline-block; -webkit-animation: rotate 0.75s 0s linear infinite; animation: rotate 0.75s 0s linear infinite; }
@keyframes rotate {
  0% { -webkit-transform: rotate(0deg) scale(0.6); transform: rotate(0deg) scale(0.6); }
  50% { -webkit-transform: rotate(180deg) scale(0.4); transform: rotate(180deg) scale(0.4); }
  100% { -webkit-transform: rotate(360deg) scale(0.6); transform: rotate(360deg) scale(0.6); }
}
@keyframes scale {
  30% { -webkit-transform: scale(0.3); transform: scale(0.3); }
  100% { -webkit-transform: scale(1); transform: scale(1); }
}