/**
 * BGY-UI 1.0
 *
 */
.container { overflow: hidden; }
#toc-doc { position: relative; }
#toc-menu { width: 180px; position: absolute; top: 330px; left: 50%; margin-left: -570px; z-index: 99; background-color: #fff; }
#toc-menu.fixed { position: fixed; top: 10px !important;}

.bs-callout ul,
.bs-callout ol { margin-bottom: 0; }

@media (max-width: 768px){
	#toc-doc { margin-left: auto; }
	#toc-menu { display: none; }
}
@media (min-width: 768px){
	#toc-menu { margin-left: -360px; }
}
@media (min-width: 992px){
	#toc-menu { margin-left: 290px; box-shadow: 0 0 8px rgba(0,0,0,.1); }
	#toc-doc { margin-left: auto; }
	.bgy-form li { width: 430px; }
	.bgy-form input[type='text'], .bgy-form input[type='password'] { width: 280px; }
}
@media (min-width: 1200px){
	#toc-menu { margin-left: -570px; }
	#toc-doc { margin-left: 200px; }
	.bgy-form li { width: 440px; }
	.bgy-form input[type='text'], .bgy-form input[type='password'] { width: 290px; }
}
@media (min-width: 1340px){
	.container { width: 1300px; }
	#toc-menu { margin-left: -635px; }
	.bgy-form li { width: 490px; }
	.bgy-form input[type='text'], .bgy-form input[type='password'] { width: 340px; }
}
@media (min-width: 1680px){
	.container { width: 1600px; }
	#toc-menu { margin-left: -785px; }
}

