/**
 * BGY-UI 1.0
 *
 */
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-button,
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-resizer { display: none; }
::-webkit-scrollbar-track-piece { background-color: #f0f3f6; }
::-webkit-scrollbar-thumb { background-color: #1A9CC4; border-radius: 4px; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before,
*:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.container { overflow: hidden; }
#bgy-ui-nav .navbar-nav { margin-top: 7px; }
#toc-doc { position: relative; }
#toc-doc h4 { font-size: 18px; line-height: 110%; padding: 10px 0; }
#toc-menu { width: 180px; position: absolute; /*top: 330px;*/ left: 50%; margin-left: -570px; z-index: 99; background-color: #fff; }
#toc-menu.fixed { position: fixed; top: 10px !important;}

.highlight { padding-top: 40px; position: relative; background-color: #f8f8f8; }
.highlight + .highlight { margin-top: -20px; border-radius: 0 0 4px 4px; }
.highlight code.xml:before,
.highlight code.javascript:before { position: absolute; top: 15px; left: 15px; font-size: 12px; font-weight: bold; color: #959595; text-transform: uppercase; letter-spacing: 1px; }
.highlight code.xml:before { content: "HTML"; }
.highlight code.javascript:before { content: "JAVASCRIPT"; }
.bs-callout ul,
.bs-callout ol { margin-bottom: 0; }
.bs-example { z-index: 99; }

.updatelog { padding-top: 30px; }
.updatelog dl { margin-bottom: 10px; }
.updatelog ul { padding-left: 2em; }
.updatelog li { list-style: none; }

.nav-pills>li>a { font-size: 12px; }
.nav>li>a { padding: 8px 15px; }

/* 不同设备尺寸兼容 */
@media (max-width: 768px){
	#toc-doc { margin-left: auto; }
	#toc-menu { display: none; }
}
@media (min-width: 768px){
	#toc-menu { margin-left: 180px; box-shadow: 0 0 8px rgba(0,0,0,.1); }
}
@media (min-width: 992px){
	#toc-menu { margin-left: 290px; box-shadow: 0 0 8px rgba(0,0,0,.1); }
	#toc-doc { margin-left: auto; }
	.bgy-form li { width: 430px; }
	.bgy-form input[type='text'], .bgy-form input[type='password'] { width: 280px; }
}
@media (min-width: 1200px){
	#toc-menu { margin-left: -570px; }
	#toc-doc { margin-left: 200px; }
	.bgy-form li { width: 440px; }
	.bgy-form input[type='text'], .bgy-form input[type='password'] { width: 290px; }
}
@media (min-width: 1340px){
	.container { width: 1300px; }
	#toc-menu { margin-left: -635px; }
	.bgy-form li { width: 490px; }
	.bgy-form input[type='text'], .bgy-form input[type='password'] { width: 340px; }
}
@media (min-width: 1680px){
	.container { width: 1600px; }
	#toc-menu { margin-left: -785px; }
}
