---
layout: default
---
<div class="home">

  {{ content }}

  <h1 class="page-heading">Posts</h1>
  
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%YYYY-%MM-%DD HH:MM" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          {{ post.excerpt }}
        </h2>
      </li>
    {% endfor %}
  </ul>

  {% if site.baseurl == "" %}
    {% assign temp = "/" %}
  {% else %}
    {% assign temp = site.baseurl %}
  {% endif %}

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">上一页</a>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <span class="active">{{ page }}</span>
        {% elsif page == 1 %}
          <a href="{{ temp }}">{{ page }}</a>
        {% else %}
          <a href="{{ site.paginate_path | prepend: temp | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: temp | replace: '//', '/' }}">下一页</a>
    {% endif %}

    <span>共{{ paginator.total_posts }}篇</span>
  </div>
  {% endif %}


</div>
